/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*, *::after, *::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-user-drag: none;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  display: block;
  text-decoration: none;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(240, 241, 240, 0.3);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgba(240, 241, 240, 0.5);
}

body {
  background: #101211;
  color: #f0f1f0;
  font-family: "microsoft jhenghei";
  overflow-x: hidden;
  overflow-y: scroll;
  cursor: none;
}
@media (max-width: 1200px) {
  body {
    cursor: auto;
  }
}

.container {
  width: 100%;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  background-color: #101211;
  width: 100%;
  height: 75px;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 10;
  border-bottom: 2px solid #f0f1f0;
}
@media (max-width: 425px) {
  .header {
    height: 60px;
  }
}

.headerList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  position: relative;
  width: 25%;
  padding: 1% 3%;
  font-size: 20px;
}
@media (max-width: 1200px) {
  .headerList {
    width: 50%;
  }
}
@media (max-width: 425px) {
  .headerList {
    width: 100%;
  }
}
.headerList li a {
  margin-right: 7px;
  padding: 7px 0px;
  border-left: 5px solid #f0f1f0;
  color: #f0f1f0;
  width: 0px;
  text-indent: 101%;
  white-space: nowrap;
  overflow: hidden;
  -webkit-transition: 1s ease all;
  transition: 1s ease all;
  text-align: center;
  cursor: none;
  opacity: 1;
}
.headerList li a.active {
  opacity: 0.7;
  margin-right: 0px;
  padding: 2% 15px;
  text-indent: 0%;
  width: 100px;
  border-left: 3px solid #101211;
}
@media (max-width: 425px) {
  .headerList li a.active {
    width: 80px;
  }
}
.headerList li a:hover {
  color: #FFF;
  opacity: 1;
}
@media (max-width: 1200px) {
  .headerList li a:hover {
    cursor: pointer;
  }
}
@media (max-width: 1200px) {
  .headerList {
    cursor: pointer;
  }
}
.headerList .work {
  position: relative;
}
.headerList .work:hover ul {
  -webkit-transform: scale(1, 1);
          transform: scale(1, 1);
  opacity: 1;
}
@media (max-width: 1200px) {
  .headerList .work:hover ul {
    -webkit-transform: scale(1, 0);
            transform: scale(1, 0);
    opacity: 0.3;
  }
}
.headerList .work ul {
  position: absolute;
  top: 105%;
  width: 105px;
  padding: unset;
  margin: unset;
  z-index: 1;
  background-color: #101211;
  -webkit-transform-origin: 50% 0%;
          transform-origin: 50% 0%;
  -webkit-transform: scale(1, 0);
          transform: scale(1, 0);
  -webkit-transition: 0.3s ease all;
  transition: 0.3s ease all;
  opacity: 0.3;
}
@media (max-width: 425px) {
  .headerList .work ul {
    top: 120%;
    width: 85px;
  }
}
.headerList .work ul li {
  padding: 10%;
  text-align: center;
  line-height: 24px;
  cursor: none;
}
.headerList .work ul li:hover {
  background-color: #f0f1f0;
  color: #101211;
}
@media (max-width: 1200px) {
  .headerList .work ul li:hover {
    cursor: pointer;
  }
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 200px;
  border-top: 2px solid #f0f1f0;
  padding-top: 3%;
  margin-bottom: 3%;
}
@media (max-width: 1200px) {
  .footer {
    padding-top: 5%;
    margin-bottom: 5%;
  }
}
@media (max-width: 820px) {
  .footer {
    height: unset;
    padding-top: 5%;
    margin-bottom: 5%;
  }
}
@media (max-width: 425px) {
  .footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-top: 10%;
    margin-bottom: 10%;
  }
}
.footer .footerImg {
  width: 180px;
  height: 180px;
  margin-right: 5%;
}
@media (max-width: 820px) {
  .footer .footerImg {
    width: 150px;
    height: 150px;
  }
}
@media (max-width: 425px) {
  .footer .footerImg {
    width: 120px;
    height: 120px;
    margin-right: unset;
  }
}
.footer p {
  font-size: 20px;
  line-height: 30px;
}
@media (max-width: 425px) {
  .footer p {
    padding: 20px 0px;
    text-align: center;
    font-size: 18px;
  }
}

.cursor {
  width: 1%;
  height: 0;
  padding-bottom: 1%;
  background-color: rgba(240, 241, 240, 0.7);
  border-radius: 50%;
  position: fixed;
  z-index: 99999;
  pointer-events: none;
}
.cursor.active {
  -webkit-animation: larger 0.2s ease forwards;
          animation: larger 0.2s ease forwards;
}
@-webkit-keyframes larger {
  to {
    width: 2%;
    padding-bottom: 2%;
  }
}
@keyframes larger {
  to {
    width: 2%;
    padding-bottom: 2%;
  }
}
@media (max-width: 1200px) {
  .cursor {
    display: none;
  }
}

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  margin-top: 75px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
@media (max-width: 425px) {
  .main {
    margin-top: 60px;
  }
}

.home {
  width: 95%;
}

.banner {
  position: relative;
  -o-object-position: right;
     object-position: right;
}
.banner .mobile {
  display: none;
}
@media (max-width: 425px) {
  .banner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 200px;
    overflow: hidden;
  }
  .banner .pc {
    display: none;
  }
  .banner .mobile {
    display: block;
  }
}
.banner img {
  width: 100%;
  opacity: 0;
  -webkit-animation: FadeIn 1.5s ease forwards;
          animation: FadeIn 1.5s ease forwards;
}
@media (max-width: 425px) {
  .banner img {
    width: unset;
    max-width: unset;
    -o-object-fit: cover;
       object-fit: cover;
  }
}
@-webkit-keyframes FadeIn {
  to {
    opacity: 1;
  }
}
@keyframes FadeIn {
  to {
    opacity: 1;
  }
}
.banner .mask {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0);
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-transform: scale(0, 0);
          transform: scale(0, 0);
  -webkit-animation: Mask 1.5s ease forwards;
          animation: Mask 1.5s ease forwards;
}
@-webkit-keyframes Mask {
  to {
    background-color: rgba(0, 0, 0, 0.5);
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
}
@keyframes Mask {
  to {
    background-color: rgba(0, 0, 0, 0.5);
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
}
.banner svg {
  display: block;
  width: 900px;
  height: 200px;
}
@media (max-width: 1200px) {
  .banner svg {
    display: none;
  }
}
.banner svg path {
  stroke: #FFF;
  stroke-width: 10px;
  stroke-linecap: round;
  stroke-linejoin: round;
  fill-opacity: 0;
  stroke-opacity: 0.5;
}
.banner svg .Lstroke {
  stroke-dasharray: 1200;
  stroke-dashoffset: 1200;
  -webkit-animation: Ldash 2s 1s ease-out forwards;
          animation: Ldash 2s 1s ease-out forwards;
}
@-webkit-keyframes Ldash {
  to {
    stroke-opacity: 1;
    stroke-dashoffset: 0;
  }
}
@keyframes Ldash {
  to {
    stroke-opacity: 1;
    stroke-dashoffset: 0;
  }
}
.banner svg .Rstroke {
  stroke-dasharray: 1200;
  stroke-dashoffset: 1200;
  -webkit-animation: Rdash 2s 1s ease-out forwards;
          animation: Rdash 2s 1s ease-out forwards;
}
@-webkit-keyframes Rdash {
  to {
    stroke-opacity: 1;
    stroke-dashoffset: 0;
  }
}
@keyframes Rdash {
  to {
    stroke-opacity: 1;
    stroke-dashoffset: 0;
  }
}
.banner p {
  position: absolute;
  top: 40%;
  font-size: 0px;
  opacity: 0;
  -webkit-animation: TitleBig 1s 2s ease-out forwards;
          animation: TitleBig 1s 2s ease-out forwards;
}
@media (max-width: 1200px) {
  .banner p {
    top: 33%;
    -webkit-animation: TitleBig 1s 1s ease-out forwards;
            animation: TitleBig 1s 1s ease-out forwards;
  }
}
@media (max-width: 820px) {
  .banner p {
    -webkit-animation: TitleBigPad 1s 1s ease-out forwards;
            animation: TitleBigPad 1s 1s ease-out forwards;
  }
}
@media (max-width: 425px) {
  .banner p {
    top: 30%;
    -webkit-animation: TitleBigMobile 1s 1s ease-out forwards;
            animation: TitleBigMobile 1s 1s ease-out forwards;
  }
}
.banner span {
  position: absolute;
  top: 55%;
  font-size: 0px;
  opacity: 0;
  -webkit-animation: TitleSmall 1s 2.5s ease-out forwards;
          animation: TitleSmall 1s 2.5s ease-out forwards;
}
@media (max-width: 1200px) {
  .banner span {
    -webkit-animation: TitleSmall 1s 1.5s ease-out forwards;
            animation: TitleSmall 1s 1.5s ease-out forwards;
  }
}
@media (max-width: 820px) {
  .banner span {
    -webkit-animation: TitleSmallPad 1s 1.5s ease-out forwards;
            animation: TitleSmallPad 1s 1.5s ease-out forwards;
  }
}
@media (max-width: 425px) {
  .banner span {
    top: 60%;
    -webkit-animation: TitleSmallMobile 1s 1.5s ease-out forwards;
            animation: TitleSmallMobile 1s 1.5s ease-out forwards;
  }
}
@-webkit-keyframes TitleBig {
  to {
    opacity: 1;
    font-size: 70px;
  }
}
@keyframes TitleBig {
  to {
    opacity: 1;
    font-size: 70px;
  }
}
@-webkit-keyframes TitleBigPad {
  to {
    opacity: 1;
    font-size: 40px;
  }
}
@keyframes TitleBigPad {
  to {
    opacity: 1;
    font-size: 40px;
  }
}
@-webkit-keyframes TitleBigMobile {
  to {
    opacity: 1;
    font-size: 28px;
  }
}
@keyframes TitleBigMobile {
  to {
    opacity: 1;
    font-size: 28px;
  }
}
@-webkit-keyframes TitleSmall {
  to {
    opacity: 1;
    font-size: 45px;
  }
}
@keyframes TitleSmall {
  to {
    opacity: 1;
    font-size: 45px;
  }
}
@-webkit-keyframes TitleSmallPad {
  to {
    opacity: 1;
    font-size: 26px;
  }
}
@keyframes TitleSmallPad {
  to {
    opacity: 1;
    font-size: 26px;
  }
}
@-webkit-keyframes TitleSmallMobile {
  to {
    opacity: 1;
    font-size: 20px;
  }
}
@keyframes TitleSmallMobile {
  to {
    opacity: 1;
    font-size: 20px;
  }
}

.title {
  margin: 20px;
  text-align: center;
  line-height: 50px;
  font-size: 28px;
}
@media (max-width: 425px) {
  .title {
    font-size: 24px;
  }
}
.title a {
  display: inline;
  padding: 0% 2%;
  color: #f0f1f0;
  text-decoration: underline;
  cursor: none;
}
@media (max-width: 1200px) {
  .title a {
    cursor: pointer;
  }
}

.card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 2%;
}
.card li {
  position: relative;
  width: 30%;
  max-height: 300px;
  border-radius: 1%;
  -webkit-transition: 1s ease all;
  transition: 1s ease all;
  overflow: hidden;
  -webkit-transform: translateY(250px);
          transform: translateY(250px);
  cursor: none;
}
@media (max-width: 1200px) {
  .card li:hover {
    cursor: pointer;
  }
}
.card li:hover .cardImg img {
  -webkit-transform: scale(1.1, 1.1);
          transform: scale(1.1, 1.1);
}
.card li:hover .cardText {
  -webkit-transform: translate(0%, 0%);
          transform: translate(0%, 0%);
}
.card li.active {
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
}
.card li.locating {
  -webkit-transform: scale(2, 2);
          transform: scale(2, 2);
  z-index: 1;
  opacity: 0;
}
.card li .cardImg img {
  width: 100%;
  height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: 0.5s ease all;
  transition: 0.5s ease all;
}
.card li .cardText {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  position: absolute;
  width: 100%;
  height: 80px;
  bottom: 0px;
  right: 0px;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(10%, rgba(16, 18, 17, 0)), color-stop(90%, #000));
  background: linear-gradient(rgba(16, 18, 17, 0) 10%, #000 90%);
  -webkit-transform: translate(0%, 80%);
          transform: translate(0%, 80%);
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}
.card li .cardText p {
  font-size: 24px;
  margin-bottom: 10px;
  color: #f0f1f0;
}
@media (max-width: 1200px) {
  .card li:hover .cardImg img {
    -webkit-transform: unset;
            transform: unset;
  }
  .card li:hover .cardText {
    -webkit-transform: unset;
            transform: unset;
  }
  .card li.active {
    -webkit-transform: unset;
            transform: unset;
  }
  .card li.locating {
    -webkit-transform: unset;
            transform: unset;
    z-index: unset;
    opacity: unset;
  }
  .card li .cardImg {
    -webkit-transition: unset;
    transition: unset;
  }
  .card li .cardText {
    -webkit-transform: unset;
            transform: unset;
  }
}
@media (max-width: 820px) {
  .card {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: unset;
  }
  .card li {
    width: 80%;
    border-radius: 2%;
    margin-bottom: 3%;
  }
}
@media (max-width: 425px) {
  .card li {
    width: 95%;
  }
  .card li .cardImg img {
    height: 200px;
  }
  .card li .cardText {
    font-size: 20px;
    height: 50px;
  }
}

.about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 50px;
  padding-left: 10%;
}
.about img {
  width: 25%;
}
.about .aboutContent {
  margin-left: 5%;
}
.about .aboutContent h1 {
  font-size: 24px;
  margin-bottom: 30px;
}
.about .aboutContent p {
  font-size: 18px;
  line-height: 30px;
}
.about .pad, .about .mobile {
  display: none;
}
@media (max-width: 820px) {
  .about {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: unset;
    padding: unset;
  }
  .about img {
    margin-bottom: 5%;
  }
  .about .aboutContent {
    margin-left: unset;
  }
  .about .aboutContent h1 {
    text-align: center;
  }
  .about .aboutContent p {
    padding: 0px 10%;
  }
  .about .aboutContent p span {
    display: block;
    text-align: center;
  }
  .about .pc {
    display: none;
  }
  .about .pad {
    display: block;
  }
}
@media (max-width: 425px) {
  .about img {
    width: 50%;
  }
  .about .aboutContent h1 {
    margin-bottom: 10px;
  }
  .about .aboutContent p {
    font-size: 16px;
  }
  .about .aboutContent p .pad {
    display: none;
  }
  .about .aboutContent p .mobile {
    display: block;
  }
}

.contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  margin-bottom: 3%;
  padding: 0px 10% 0% 25%;
}
.contact .contactImg {
  width: 50%;
}
.contact .contactImg img {
  width: 80%;
}
.contact .contactContent {
  width: 40%;
}
.contact .contactContent p {
  text-align: left;
  font-size: 18px;
  line-height: 30px;
  margin-right: 10%;
  margin-bottom: 10px;
}
.contact .contactContent .contactContentHref {
  width: 100%;
}
.contact .contactContent .contactContentHref a {
  display: inline;
  color: unset;
  cursor: none;
}
.contact .contactContent .contactContentHref a i {
  font-size: 36px;
  margin-right: 15px;
}
@media (max-width: 1200px) {
  .contact .contactContent .contactContentHref a i {
    cursor: pointer;
  }
}
@media (max-width: 425px) {
  .contact .contactContent .contactContentHref a i {
    margin: 0px 15px;
  }
}
@media (max-width: 820px) {
  .contact {
    padding: 0px 0% 0px 5%;
  }
  .contact .contactImg {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .contact .contactContent p {
    margin-right: unset;
  }
}
@media (max-width: 425px) {
  .contact {
    padding: unset;
    margin-bottom: 10%;
  }
  .contact .contactImg {
    display: none;
  }
  .contact .contactContent {
    width: 100%;
    padding: 0% 10%;
  }
  .contact .contactContent p {
    font-size: 16px;
    margin-right: unset;
    margin-bottom: 20px;
  }
  .contact .contactContent .contactContentHref {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.top {
  position: fixed;
  font-size: 36px;
  bottom: 3%;
  right: 2%;
  opacity: 0;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}
.top.active {
  opacity: 0.7;
}
@media (max-width: 425px) {
  .top {
    right: 5%;
  }
}

.about > div, .about > img, .contact > div {
  -webkit-transform: translateY(250px);
          transform: translateY(250px);
  -webkit-transition: 1s ease all;
  transition: 1s ease all;
}
.about > div.active, .about > img.active, .contact > div.active {
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
}

.card, .about, .contact {
  -webkit-transition: 1.5s ease all;
  transition: 1.5s ease all;
}
.card.active, .about.active, .contact.active {
  -webkit-transform: scale(2, 2);
          transform: scale(2, 2);
  opacity: 0;
}

.btnGroup {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  padding: 50px 0px;
  opacity: 0;
  -webkit-animation: refresh 1s 0.5s ease forwards;
          animation: refresh 1s 0.5s ease forwards;
}
.btnGroup form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 35%;
}
.btnGroup form button {
  width: 25%;
  height: 50px;
  text-align: center;
  font-size: 24px;
  font-family: "microsoft jhenghei";
  background-color: #101211;
  color: #f0f1f0;
  border-radius: 2%;
  border: 2px solid #f0f1f0;
  cursor: none;
  -webkit-transition: 0.5s ease all;
  transition: 0.5s ease all;
}
.btnGroup form button:hover, .btnGroup form button.active {
  background-color: #f0f1f0;
  color: #101211;
}
.btnGroup form button.active:hover {
  -webkit-box-shadow: 0px 0px 5px 2px #f0f1f0;
          box-shadow: 0px 0px 5px 2px #f0f1f0;
}
@media (max-width: 1200px) {
  .btnGroup form {
    width: 50%;
  }
  .btnGroup form button {
    cursor: pointer;
  }
}
@media (max-width: 820px) {
  .btnGroup form {
    width: 60%;
  }
}
@media (max-width: 425px) {
  .btnGroup {
    padding: 30px 0px;
  }
  .btnGroup form {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .btnGroup form button {
    width: 25%;
    height: 40px;
    font-size: 20px;
  }
}

.workCard {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  margin-bottom: 10px;
  -webkit-animation: refresh 1s ease forwards;
          animation: refresh 1s ease forwards;
}
.workCard li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: none;
  border-radius: 1%;
  width: 33%;
  height: 400px;
  overflow: hidden;
  -webkit-transition: 1s ease all;
  transition: 1s ease all;
  position: relative;
  background-color: #000;
}
.workCard li img {
  -o-object-fit: cover;
     object-fit: cover;
}
.workCard li p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  position: absolute;
  width: 100%;
  height: 100px;
  bottom: 0;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(10%, rgba(16, 18, 17, 0)), color-stop(90%, #000));
  background: linear-gradient(rgba(16, 18, 17, 0) 10%, #000 90%);
  font-size: 24px;
  padding-bottom: 15px;
  color: #f0f1f0;
  -webkit-transform: translate(0%, 80%);
          transform: translate(0%, 80%);
  -webkit-transition: 0.5s ease all;
  transition: 0.5s ease all;
}
.workCard li:hover {
  z-index: 1;
  -webkit-transform: scale(1.05, 1.05);
          transform: scale(1.05, 1.05);
}
.workCard li:hover p {
  -webkit-transform: translate(0%, 0%);
          transform: translate(0%, 0%);
}
@media (max-width: 1200px) {
  .workCard li {
    height: 250px;
    cursor: pointer;
  }
  .workCard li p {
    height: 80px;
    -webkit-transform: unset;
            transform: unset;
  }
  .workCard li:hover {
    -webkit-transform: unset;
            transform: unset;
  }
  .workCard li:hover p {
    -webkit-transform: unset;
            transform: unset;
  }
}
@media (max-width: 820px) {
  .workCard li {
    width: 50%;
  }
}
@media (max-width: 425px) {
  .workCard {
    margin-bottom: unset;
  }
  .workCard li {
    width: 100%;
  }
  .workCard li p {
    font-size: 20px;
  }
}

@-webkit-keyframes refresh {
  from {
    opacity: 0;
    -webkit-transform: scale(2, 2);
            transform: scale(2, 2);
  }
  to {
    opacity: 1;
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
}

@keyframes refresh {
  from {
    opacity: 0;
    -webkit-transform: scale(2, 2);
            transform: scale(2, 2);
  }
  to {
    opacity: 1;
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
}
.lightbox {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(16, 18, 17, 0);
  z-index: -1;
  opacity: 0;
  cursor: none;
}
.lightbox.active {
  z-index: 1000;
  background-color: rgba(16, 18, 17, 0.7);
  opacity: 1;
}
@media (max-width: 1200px) {
  .lightbox {
    cursor: unset;
  }
}

@media (max-width: 820px) {
  :root {
    --swiper-navigation-color: $theme-color-light;
    --swiper-theme-color: #FFF;
  }
}
.lightboxContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 70%;
  height: 90%;
  background-color: #101211;
  color: #f0f1f0;
  border: 2px solid #f0f1f0;
  border-radius: 1%;
  overflow: hidden;
}
@media (max-width: 1200px) {
  .lightboxContent {
    width: 85%;
  }
}
@media (max-width: 820px) {
  .lightboxContent {
    width: 90%;
    height: 90%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
@media (max-width: 425px) {
  .lightboxContent {
    width: 80%;
    height: 60%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.lightboxContent .lightboxImg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 55%;
  height: 100%;
}
.lightboxContent .lightboxImg img {
  width: 50%;
  height: 25%;
  -o-object-fit: cover;
     object-fit: cover;
  cursor: none;
  -webkit-transition: 0.5s ease all;
  transition: 0.5s ease all;
}
.lightboxContent .lightboxImg img:hover {
  -webkit-transform: scale(1.1, 1.1);
          transform: scale(1.1, 1.1);
  z-index: 1;
}
.lightboxContent .lightboxImg iframe {
  width: 100%;
  height: 50%;
}
@media (max-width: 1200px) {
  .lightboxContent .lightboxImg img {
    cursor: pointer;
  }
  .lightboxContent .lightboxImg img:hover {
    -webkit-transform: unset;
            transform: unset;
  }
}
@media (max-width: 820px) {
  .lightboxContent .lightboxImg {
    width: 100%;
    height: 40%;
    padding: 0% 5%;
  }
  .lightboxContent .lightboxImg .swiper-slide a {
    width: 100%;
    height: 100%;
    max-height: 100%;
  }
  .lightboxContent .lightboxImg .swiper-slide a img {
    width: 100%;
    height: 100%;
    max-height: 100%;
    -o-object-fit: contain;
       object-fit: contain;
  }
  .lightboxContent .lightboxImg .swiper-slide iframe {
    width: 100%;
    height: 100%;
  }
}
@media (max-width: 425px) {
  .lightboxContent .lightboxImg {
    height: 70%;
  }
}
.lightboxContent .lightboxText {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 45%;
  height: 100%;
  padding: 3% 2% 1.5% 2%;
  overflow-y: scroll;
  text-align: left;
}
.lightboxContent .lightboxText h3 {
  width: 100%;
  font-size: 28px;
  line-height: 42px;
  padding-bottom: 20px;
  margin-bottom: 30px;
  border-bottom: 2px solid #f0f1f0;
}
.lightboxContent .lightboxText .jobAndDuring {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  margin-bottom: 30px;
}
.lightboxContent .lightboxText .jobAndDuring .job {
  font-size: 18px;
  line-height: 24px;
}
.lightboxContent .lightboxText .lightboxWorkDescription {
  margin-bottom: 10%;
}
.lightboxContent .lightboxText .lightboxWorkDescription a {
  color: unset;
  cursor: none;
}
.lightboxContent .lightboxText .lightboxWorkDescription a i {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  line-height: 42px;
}
.lightboxContent .lightboxText .lightboxWorkDescription a i::before {
  font-size: 30px;
}
.lightboxContent .lightboxText .lightboxWorkDescription a i span {
  font-family: "microsoft jhenghei";
}
@media (max-width: 1200px) {
  .lightboxContent .lightboxText .lightboxWorkDescription a {
    cursor: pointer;
  }
}
.lightboxContent .lightboxText p {
  font-size: 18px;
  line-height: 42px;
}
@media (max-width: 820px) {
  .lightboxContent .lightboxText {
    width: 100%;
  }
}
@media (max-width: 425px) {
  .lightboxContent .lightboxText h3 {
    font-size: 20px;
  }
  .lightboxContent .lightboxText .jobAndDuring {
    margin-bottom: 15px;
  }
  .lightboxContent .lightboxText .lightboxWorkDescription a i {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .lightboxContent .lightboxText p {
    line-height: 32px;
  }
}

@media (max-width: 820px) {
  #lightbox {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    margin: 0 auto;
    z-index: 10000;
    opacity: 1;
  }
  #lightbox * {
    z-index: 10000;
    opacity: 1;
  }
  #lightbox .lb-outerContainer {
    top: -15%;
    margin: 0 auto;
    background: #101211;
  }
}
@media (max-width: 820px) and (max-width: 425px) {
  #lightbox .lb-outerContainer {
    top: -25%;
  }
}
@media (max-width: 820px) {
  #lightbox .lb-outerContainer .lb-container img {
    border: 5px solid #f0f1f0;
  }
}
@media (max-width: 820px) {
  #lightbox .lb-dataContainer {
    display: none !important;
  }
}
.lightboxImgLarge {
  position: fixed;
  top: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  background-color: rgba(16, 18, 17, 0);
  opacity: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: ease all 0.3s;
  transition: ease all 0.3s;
}
.lightboxImgLarge img {
  max-width: 55%;
  max-height: 80%;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (max-width: 1200px) {
  .lightboxImgLarge img {
    max-width: 70%;
  }
}
@media (max-width: 820px) {
  .lightboxImgLarge img {
    display: none;
  }
}
.lightboxImgLarge.active {
  z-index: 10000;
  background-color: rgba(16, 18, 17, 0.8);
  opacity: 1;
}

.unseen {
  display: none !important;
}

.aboutPage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  padding-top: 50px;
}
.aboutPage .btnGroup {
  padding: unset;
  margin-bottom: 30px;
}
@media (max-width: 425px) {
  .aboutPage .btnGroup {
    margin-bottom: unset;
    padding: 30px 0px;
  }
}
.aboutPage .aboutPageContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 80%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
@media (max-width: 1200px) {
  .aboutPage .aboutPageContent {
    width: 100%;
  }
}
.aboutPage .aboutPageContent .imgAndQuote {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 60%;
  padding: 0px 20px 40px 20px;
  margin-bottom: 40px;
  border-bottom: 5px solid #f0f1f0;
}
@media (max-width: 1200px) {
  .aboutPage .aboutPageContent .imgAndQuote {
    width: 80%;
  }
}
@media (max-width: 820px) {
  .aboutPage .aboutPageContent .imgAndQuote {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 95%;
    padding: 0px 0px 40px 0px;
  }
}
@media (max-width: 425px) {
  .aboutPage .aboutPageContent .imgAndQuote {
    padding: 0px 0px 20px 0px;
    margin-bottom: unset;
  }
}
.aboutPage .aboutPageContent .imgAndQuote * {
  width: 100%;
  line-height: 30px;
}
.aboutPage .aboutPageContent .imgAndQuote img {
  width: 25%;
}
@media (max-width: 820px) {
  .aboutPage .aboutPageContent .imgAndQuote img {
    width: 30%;
    margin-bottom: 20px;
  }
}
@media (max-width: 425px) {
  .aboutPage .aboutPageContent .imgAndQuote img {
    width: 50%;
  }
}
.aboutPage .aboutPageContent .imgAndQuote .quote {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 60%;
}
@media (max-width: 820px) {
  .aboutPage .aboutPageContent .imgAndQuote .quote {
    width: 85%;
  }
}
.aboutPage .aboutPageContent .imgAndQuote .quote * {
  width: 100%;
}
.aboutPage .aboutPageContent .imgAndQuote .quote h1 {
  font-size: 28px;
  line-height: 28px;
  margin-bottom: 20px;
}
@media (max-width: 820px) {
  .aboutPage .aboutPageContent .imgAndQuote .quote h1 {
    font-size: 24px;
    text-align: center;
    line-height: 36px;
  }
}
@media (max-width: 425px) {
  .aboutPage .aboutPageContent .imgAndQuote .quote h1 {
    font-size: 20px;
    margin-bottom: unset;
  }
}
.aboutPage .aboutPageContent .imgAndQuote .quote span {
  margin-bottom: 20px;
}
@media (max-width: 820px) {
  .aboutPage .aboutPageContent .imgAndQuote .quote span {
    text-align: center;
  }
}
.aboutPage .aboutPageContent .imgAndQuote .quote p {
  font-size: 18px;
}
@media (max-width: 425px) {
  .aboutPage .aboutPageContent .imgAndQuote .quote p {
    font-size: unset;
  }
}
.aboutPage .aboutPageContent .imgAndQuote .quote .mobile {
  display: none;
}
@media (max-width: 425px) {
  .aboutPage .aboutPageContent .imgAndQuote .quote .pc {
    display: none;
  }
  .aboutPage .aboutPageContent .imgAndQuote .quote .mobile {
    display: block;
  }
}
.aboutPage .aboutPageContent .experience {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 60%;
  padding: 0px 20px;
}
@media (max-width: 1200px) {
  .aboutPage .aboutPageContent .experience {
    width: 80%;
    padding: 0px 10% 0px 15%;
  }
}
@media (max-width: 820px) {
  .aboutPage .aboutPageContent .experience {
    width: 100%;
    padding: 0px 5% 0px 10%;
  }
}
@media (max-width: 425px) {
  .aboutPage .aboutPageContent .experience {
    padding: 0px 0% 0px 2.5%;
  }
}
.aboutPage .aboutPageContent .experience div {
  width: 100%;
  font-size: 18px;
  margin-bottom: 50px;
  overflow: hidden;
}
@media (max-width: 1200px) {
  .aboutPage .aboutPageContent .experience div {
    margin-bottom: 5%;
  }
}
.aboutPage .aboutPageContent .experience div * {
  display: block;
  -webkit-transform: translateX(-150%);
          transform: translateX(-150%);
  -webkit-transition: 0.5s ease all;
  transition: 0.5s ease all;
}
.aboutPage .aboutPageContent .experience div *.active {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
}
.aboutPage .aboutPageContent .experience div h3 {
  font-size: 24px;
  line-height: 50px;
}
@media (max-width: 425px) {
  .aboutPage .aboutPageContent .experience div h3 {
    font-size: 20px;
    line-height: 36px;
  }
}
.aboutPage .aboutPageContent .experience div span {
  padding-left: 50px;
  line-height: 40px;
}
@media (max-width: 425px) {
  .aboutPage .aboutPageContent .experience div span {
    font-size: 16px;
    padding-left: 2.5%;
    line-height: 30px;
    margin-bottom: 10px;
  }
}

.contactPage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 60%;
  padding: 7% 3%;
}
@media (max-width: 1200px) {
  .contactPage {
    width: 80%;
  }
}
@media (max-width: 820px) {
  .contactPage {
    width: 100%;
  }
}
@media (max-width: 425px) {
  .contactPage {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.contactPage .contactImg {
  width: 50%;
  text-align: center;
}
@media (max-width: 425px) {
  .contactPage .contactImg {
    width: 100%;
  }
}
.contactPage .contactImg img {
  width: 50%;
}
.contactPage .contactContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 50%;
  padding-left: 5%;
}
@media (max-width: 425px) {
  .contactPage .contactContent {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0px 10%;
    width: 100%;
  }
}
.contactPage .contactContent h1 {
  font-size: 28px;
  line-height: 50px;
}
@media (max-width: 820px) {
  .contactPage .contactContent h1 {
    font-size: 24px;
  }
}
.contactPage .contactContent p {
  font-size: 20px;
  line-height: 30px;
  margin-bottom: 30px;
}
@media (max-width: 820px) {
  .contactPage .contactContent p {
    font-size: 18px;
  }
}
@media (max-width: 425px) {
  .contactPage .contactContent p {
    margin-bottom: 20px;
  }
}
.contactPage .contactContent .icon {
  width: 100%;
  font-size: 36px;
}
@media (max-width: 425px) {
  .contactPage .contactContent .icon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 36px;
    padding: 0px 10%;
  }
}
.contactPage .contactContent .icon a {
  display: inline;
  color: unset;
  cursor: none;
}
.contactPage .contactContent .icon a i {
  margin-right: 3%;
}
@media (max-width: 1200px) {
  .contactPage .contactContent .icon a {
    cursor: pointer;
  }
}