.aboutPage{
    @include flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    padding-top: 50px;
    .btnGroup{
        padding: unset;
        margin-bottom: 30px;
        @include mobile {
            margin-bottom: unset;
            padding: 30px 0px;
        }
    }
    .aboutPageContent{
        @include flex;
        width: 80%;
        flex-wrap: wrap;
        @include padHorizon {
            width: 100%;
        }
        .imgAndQuote{
            @include flex(space-between,center);
            width: 60%;
            padding: 0px 20px 40px 20px;
            margin-bottom: 40px;
            border-bottom: 5px solid $theme-color-light;
            @include padHorizon {
                width: 80%;
            }
            @include pad {
                @include flex(space-around,center);
                flex-direction: column;
                width: 95%;
                padding: 0px 0px 40px 0px;
            }
            @include mobile {
                padding: 0px 0px 20px 0px;
                margin-bottom: unset;
            }
            *{
                width: 100%;
                line-height: 30px;
            }
            img{
                width: 25%;
                @include pad {
                    width: 30%;
                    margin-bottom: 20px;
                }
                @include mobile {
                    width: 50%;
                }
            }
            .quote{
                @include flex;
                flex-direction: column;
                width: 60%;
                @include pad {
                    width: 85%;
                }
                *{
                    width: 100%;
                }
                h1{
                    font-size: $titleSize;
                    line-height: 28px;
                    margin-bottom: 20px;
                    @include pad {
                        font-size: $largeSize;
                        text-align: center;
                        line-height: 36px;
                    }
                    @include mobile {
                        font-size: $mediumSize;
                        margin-bottom: unset;
                    }
                }
                span{
                    margin-bottom: 20px;
                    @include pad {
                        text-align: center;
                    }
                }
                p{
                    font-size: $smallSize;
                    @include mobile {
                        font-size: unset;
                    }
                }
                .mobile{
                    display: none;
                }
                @include mobile {
                    .pc{
                        display: none;
                    }
                    .mobile{
                        display: block;
                    }
                }
            }
        }
        .experience{
            @include flex(center, flex-start);
            flex-direction: column;
            width: 60%;
            padding: 0px 20px;
            @include padHorizon {
                width: 80%;
                padding: 0px 10% 0px 15%;
            }
            @include pad {
                width: 100%;
                padding: 0px 5% 0px 10%;
            }
            @include mobile {
                padding: 0px 0% 0px 2.5%;
            }  
            div{
                width: 100%;
                font-size: $smallSize;
                margin-bottom: 50px;
                overflow: hidden;
                @include padHorizon {
                    margin-bottom: 5%;
                }
                *{
                    display: block;
                    transform: translateX(-150%);
                    transition: 0.5s ease all;
                    &.active{
                        transform: translateX(0%);
                    }
                }
                h3{
                    font-size: $largeSize;
                    line-height: 50px;  
                    @include mobile {
                        font-size: $mediumSize;
                        line-height: 36px;
                    }                  
                }
                span{
                    padding-left: 50px;
                    line-height: 40px;
                    @include mobile {
                        font-size: 16px;
                        padding-left: 2.5%;
                        line-height: 30px;
                        margin-bottom: 10px;
                    } 
                }
            }
        }
    }
}