.contactPage{
    @include flex(center,center);
    width: 60%;
    padding: 7% 3%;
    @include padHorizon {
        width: 80%;
    }
    @include pad{
        width: 100%;
    }
    .contactImg{
        width: 50%;
        text-align: center;
        img{
            width: 50%;
        }
    }
    .contactContent{
        @include flex(center, flex-start);
        flex-direction: column;
        width: 50%;
        padding-left: 5%;
        h1{
            font-size: $titleSize;
            line-height: 50px;
            @include pad {
                font-size: $largeSize;
            }
        }
        p{
            font-size: $mediumSize;
            line-height: 30px;
            margin-bottom: 30px;
            @include pad {
                font-size: $smallSize;
            }
        }
        .icon{
            width: 100%;
            font-size: 36px;
            @include pad {
                font-size: 30px;
            }
            a{
                display: inline;
                color: unset;
                cursor: none;
                i{
                    margin-right: 3%;
                }
            }
        }
    }
}