::-webkit-scrollbar{
    width: 10px;
}

::-webkit-scrollbar-track{
    background-color: transparent;
}

::-webkit-scrollbar-thumb{
    background-color: rgba($theme-color-light, $alpha: 0.3);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover{
    background-color: rgba($theme-color-light, $alpha: 0.5);
}

body{
    background: $theme-color-dark;
    color: $theme-color-light;
    font-family: "microsoft jhenghei";
    overflow-x: hidden;
    overflow-y: scroll;
    cursor: none;
    @include padHorizon {
        cursor:auto;
    }
}

.container{
    width: 100%;
}

.header{
    @include flex(flex-end, center);
    box-sizing: content-box;
    background-color: $theme-color-dark;
    width: 100%;
    height: 75px;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 10;
    border-bottom: 2px solid $theme-color-light;
    @include mobile {
        height: 60px;
    }
}

.headerList{
    @include flex (flex-start, flex-start);
    flex-direction:  row-reverse;
    position: relative;
    width: 25%;
    padding: 1% 3%;
    font-size: $mediumSize;
    @include padHorizon {
        width: 50%;
    }
    @include mobile {
        width: 100%;
    }
    li a{
        margin-right: 7px;
        padding: 7px 0px;
        border-left: 5px solid $theme-color-light;
        color: $theme-color-light;
        width: 0px;
        @include hideText;
        // text-indent: 101%;
        // overflow: hidden;
        // white-space: nowrap;
        transition: 1s ease all;
        text-align: center;
        cursor: none;
        opacity: 1;
        &.active{
            opacity: 0.7;
            margin-right: 0px;
            padding: 2% 15px;
            text-indent: 0%;
            width: 100px;
            border-left: 3px solid $theme-color-dark;
            @include mobile {
                width: 80px;
            }
        }
        &:hover{
            color: #FFF;
            opacity: 1;
            @include padHorizon {
                cursor: pointer;
            }
        }
    }
    @include padHorizon {
        cursor: pointer;
    }
    .work{
        position: relative;
        &:hover{
            ul{
                transform: scale(1, 1);
                opacity: 1;
            }
        }
        ul{
            position: absolute;
            top: 105%;
            width: 105px;
            padding: unset;
            margin: unset;
            z-index: 1;
            background-color: $theme-color-dark;
            transform-origin: 50% 0%;
            transform: scale(1, 0);
            transition: 0.3s ease all;
            opacity: 0.3;
            @include mobile {
                top: 120%;
                width: 85px;
            }
            li{
                padding: 10%; 
                text-align: center;
                line-height: 24px;
                // text-align: center;
                cursor: none;
                &:hover{
                    background-color: $theme-color-light;
                    color: $theme-color-dark;
                    @include padHorizon {
                        cursor: pointer;
                    }
                }
            }
        }
    }
}

.footer{
    @include flex;
    height: 200px;
    border-top: 2px solid $theme-color-light;
    padding-top: 3%;
    margin-bottom: 3%;
    @include padHorizon {
        padding-top: 5%;
        margin-bottom: 5%;
    }
    @include pad {
        height: unset;
        padding-top: 5%;
        margin-bottom: 5%;
    }
    @include mobile {
        flex-direction: column;
        padding-top: 10%;
        margin-bottom: 10%;
    }
    .footerImg{
        width: 180px;
        height: 180px;
        margin-right: 5%;
        @include pad {
            width: 150px;
            height: 150px;
        }
        @include mobile {
            width: 120px;
            height: 120px;
            margin-right: unset;
        }
    }
    p{
        font-size: $mediumSize;
        line-height: 30px;
        @include mobile {
            text-align: center;
            font-size: $smallSize;
        }
    }
}

.cursor{
    width: 1%;
    height: 0;
    padding-bottom: 1%;
    background-color: rgba($theme-color-light, $alpha: 0.7);
    border-radius: 50%;
    position: fixed;
    z-index: 99999;
    pointer-events: none;
    &.active{
        animation: larger 0.2s ease forwards;
    }
    @keyframes larger {
        to{
            width: 2%;
            padding-bottom: 2%;
        }
    }
    @include padHorizon {
        display: none;
    }
}