::-webkit-scrollbar{
    width: 10px;
}

::-webkit-scrollbar-track{
    background-color: transparent;
}

::-webkit-scrollbar-thumb{
    background-color: rgba($theme-color-light, $alpha: 0.3);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover{
    background-color: rgba($theme-color-light, $alpha: 0.5);
}

body{
    background: $theme-color-dark;
    color: $theme-color-light;
    font-family: "microsoft jhenghei";
    overflow-x: hidden;
    overflow-y: scroll;
    cursor: none;
}

.container{
    width: 100%;
    // border: 5px solid $theme-color-light;
}

.header{
    box-sizing: content-box;
    // background: rgba($theme-color-dark, $alpha: 0.8);
    background-color: $theme-color-dark;
    width: 100%;
    height: 75px;
    @include flex(flex-end, center);
    position: fixed;
    top: 0;
    right: 0;
    z-index: 10;
    border-bottom: 2px solid $theme-color-light;
}

.list{
    position: relative;
    @include flex (flex-start, flex-start);
    flex-direction:  row-reverse;
    width: 25%;
    padding: 1% 3%;
    font-size: 20px;
    li a{
        margin-right: 7px;
        padding: 7px 0px;
        border-left: 5px solid $theme-color-light;
        color: $theme-color-light;
        width: 0px;
        @include hideText;
        // text-indent: 101%;
        // overflow: hidden;
        // white-space: nowrap;
        transition: 1s ease all;
        text-align: center;
        cursor: none;
        opacity: 1;
        &.active{
            opacity: 0.7;
            margin-right: 0px;
            padding: 2% 15px;
            text-indent: 0%;
            width: 100px;
            border-left: 3px solid $theme-color-dark;
        }
        &:hover{
            color: #FFF;
            opacity: 1;
        }
    }
    .work{
        position: relative;
        &:hover{
            ul{
                transform: scale(1, 1);
                opacity: 1;
            }
        }
        ul{
            position: absolute;
            top: 105%;
            width: 105px;
            padding: unset;
            margin: unset;
            z-index: 1;
            background-color: $theme-color-dark;
            transform-origin: 50% 0%;
            transform: scale(1, 0);
            transition: 0.3s ease all;
            opacity: 0.3;
            li{
                padding: 10%; 
                text-align: center;
                line-height: 24px;
                // text-align: center;
                cursor: none;
                &:hover{
                    background-color: $theme-color-light;
                    color: $theme-color-dark;
                }
            }
        }
    }
}

.footer{
    @include flex;
    height: 200px;
    border-top: 2px solid $theme-color-light;
    padding-top: 50px;
    .footerImg{
        width: 180px;
        height: 180px;
        margin-right: 5%;
    }
    p{
        font-size: 18px;
        line-height: 30px;
    }
}

.cursor{
    width: 1%;
    height: 0;
    padding-bottom: 1%;
    background-color: rgba($theme-color-light, $alpha: 0.7);
    border-radius: 50%;
    position: fixed;
    z-index: 99999;
    pointer-events: none;
    &.active{
        animation: larger 0.2s ease forwards;
    }
    @keyframes larger {
        to{
            width: 2%;
            padding-bottom: 2%;
        }
    }
}