@mixin hide-text {
    text-indent: 101%;
    white-space: nowrap;
    overflow: hidden;
}

@mixin pad {
    @media (max-width: 820px) {
        @content;
    }
}

@mixin phone {
    @media (max-width: 425px) {
        @content;
    }
}

@mixin btn {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin-top: 30px;

    input{
        cursor: pointer;
        color: #FFF;
        border: 0px;
        border-radius: 3px;
        margin: unset;
        padding: unset;
        font-size: 14px;
    }
}