.btnGroup{
    @include flex(space-around, center);
    width: 100%;
    padding: 50px 0px;
    opacity: 0;
    animation: refresh 1s 0.5s ease forwards;
    form{
        @include flex(space-around,center);
        width: 35%;
        button{
            @include btn;
        }
        @include padHorizon {
            width: 50%;
            button{
                cursor: pointer;
            }
        }
        @include pad {
            width: 60%;
        }
    }
    @include mobile {
        padding: 30px 0px;
        form{
            width: 100%;
            @include flex(space-evenly);
            button{
                width: 25%;
                height: 40px;
                font-size: $mediumSize;
            }
        }
    }
}

.workCard{
    @include flex(flex-start,center);
    flex-wrap: wrap;
    width: 100%;
    margin-bottom: 10px;
    animation: refresh 1s ease forwards;
    li{
        @include flex;
        cursor: none;
        border-radius: 1%;
        width: 33%;
        height: 400px;
        overflow: hidden;
        transition: 1s ease all;
        position: relative;
        background-color: #000;
        img{
            object-fit: cover;
        }
        p{
            @include flex(center, flex-end);
            position: absolute;
            width: 100%;
            height: 100px;
            bottom: 0;
            background: linear-gradient(rgba(16, 18, 17, 0) 10%, #000 90%);
            font-size: $largeSize;
            padding-bottom: 15px;
            color: $theme-color-light;
            transform: translate(0%, 80%);
            transition: 0.5s ease all;
        }
        &:hover{
            z-index: 1;
            transform: scale(1.05, 1.05);
            p{
                transform: translate(0%, 0%);
            }
        }
        @include padHorizon {
            height: 250px;
            cursor: pointer;
            p{
                height: 80px;
                transform: unset;
            }
            &:hover{
                transform: unset;
                p{
                    transform: unset;
                }
            }
        }
        @include pad {
            width: 50%;
        }
    }
    @include mobile {
        margin-bottom: unset;
        li{
            width: 100%;
            p{
                font-size: $mediumSize;
            }
        }
    }
}

@keyframes refresh {
    from {
        opacity: 0;
        transform: scale(2, 2);
    }
    to{
        opacity: 1;
        transform: scale(1, 1);
    }
    
}

.lightbox{
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    @include flex;
    background-color: rgba($theme-color-dark, $alpha: 0);
    z-index: -1;
    opacity: 0;
    cursor: none;
    &.active{
        z-index: 1000;
        background-color: rgba($theme-color-dark, $alpha: 0.7);
        opacity: 1;
    }
    @include padHorizon {
        cursor: unset;
    }
}

@include pad {
    :root {
        --swiper-navigation-color: $theme-color-light;
        --swiper-theme-color: #FFF;
    }
}

.lightboxContent{
    @include flex;
    width: 70%;
    height: 90%;
    background-color: $theme-color-dark;
    color: $theme-color-light;
    border: 2px solid $theme-color-light;
    border-radius: 1%;
    overflow: hidden;
    @include padHorizon {
        width: 85%;
    }
    @include pad {
        width: 90%;
        height: 90%;
        flex-direction: column;
    }
    @include mobile {
        width: 80%;
        height: 60%;
        flex-direction: column;
    }
    .lightboxImg{
        @include flex;
        flex-wrap: wrap;
        width: 55%;
        height: 100%;
        img{
            width: 50%;
            height: 25%;
            object-fit: cover;
            cursor: none;
            transition: 0.5s ease all;
            &:hover{
                transform: scale(1.1, 1.1);
                z-index: 1;
            }
        }
        iframe{
            width: 100%;
            height: 50%;
        }
        @include padHorizon {
            img{
                cursor: pointer;
                &:hover{
                    transform: unset;
                }
            }
        }
        @include pad {
            width: 100%;
            height: 40%;
            padding: 0% 5%;
            .swiper-slide{
                a{
                    width: 100%;
                    height: 100%;
                    max-height: 100%;
                    img{
                        width: 100%;
                        height: 100%;
                        max-height: 100%;
                        object-fit: contain;
                    }
                }
                iframe{
                    width: 100%;
                    height: 100%;
                }
            }
        }
        @include mobile {
            height: 70%;
        }
    }
    .lightboxText{
        @include flex(flex-start, flex-start);
        flex-direction: column;
        width: 45%;
        height: 100%;
        padding: 3% 2% 1.5% 2%;
        overflow-y: scroll;
        text-align: left;
        h3{
            width: 100%;
            font-size: $titleSize;
            line-height: 42px;
            padding-bottom: 20px;
            margin-bottom: 30px;
            border-bottom: 2px solid $theme-color-light;
        }
        .jobAndDuring{
            @include flex(space-between, center);
            width: 100%;
            margin-bottom: 30px;
            .job{
                font-size: $smallSize;
                line-height: 24px;
            }
        }
        .lightboxWorkDescription{
            margin-bottom: 10%;
            a{
                color: unset;
                cursor: none;
                i{
                    @include flex(flex-start,center);
                    line-height: 42px;
                    &::before{
                        font-size: 30px;
                    }
                    span{
                        font-family: 'microsoft jhenghei';
                    }
                }
                @include padHorizon {
                    cursor: pointer;
                }
            }
        }
        p{
            font-size: $smallSize;
            line-height: 42px;
        }
        @include pad {
            width: 100%; 
        }
        @include mobile {
            h3{
                font-size: $mediumSize;
            }
            .jobAndDuring{
                margin-bottom: 15px;
            }
            .lightboxWorkDescription{
                a{
                    i{
                        @include flex(flex-start, flex-start);
                    }
                }
            }
            p{
                line-height: 32px;
            }
        }
    }
}

@include pad {
    #lightbox{
        flex-direction: column;
        width: 100%;
        margin: 0 auto;
        z-index: 10000;
        opacity: 1;
        *{
            z-index: 10000;
            opacity: 1;
        }
        .lb-outerContainer{
            top: -15%;
            margin: 0 auto;
            background: $theme-color-dark;
            @include mobile {
                top: -25%;
            }
            .lb-container{
                img{
                    border: 5px solid $theme-color-light;
                }
            }
        }
        .lb-dataContainer{
            display: none !important;
        }
    }
}

.lightboxImgLarge{
    position: fixed;
    top: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    background-color: rgba($theme-color-dark, $alpha: 0);
    opacity: 0;
    @include flex;
    transition: ease all 0.3s;
    img{
        max-width: 55%;
        max-height: 80%;
        object-fit: cover;
        @include padHorizon {
            max-width: 70%;
        }
        @include pad {
            display: none;
        }
    }
    &.active{
        z-index: 10000;
        background-color: rgba($theme-color-dark, $alpha: 0.8);
        opacity: 1;
    }
}

.unseen{
    display: none !important;
}